In [12]:
import warnings
warnings.filterwarnings("ignore")

### Contexte :

Les parties utiles SICCRF ne fonctionnent pas intuitivement : toutes les parties à surveiller ne sont pas forcément des parties utiles, mais la plupart le sont.
Problème soulevé en regardant la plant "Canabis sativa" (id 364) dont l'une des parties utiles (sommité fleurie) est également à surveiller.

In [13]:
import pandas as pd

In [14]:
partie_utile_df = pd.read_csv("../raw_data/REF_ICA_PARTIE_UTILE.csv")
partie_utile_df.describe()

        PLTE_IDENT  PPLAN_IDENT
count  3548.000000  3548.000000
mean    886.402198    59.382751
std     500.870704    30.427034
min       1.000000     1.000000
25%     456.000000    34.000000
50%     885.500000    68.000000
75%    1324.250000    79.000000
max    1783.000000   138.000000

In [15]:
partie_a_surveiller_df = pd.read_csv("../raw_data/REF_ICA_PARTIE_PL_A_SURVEILLER.csv")
partie_a_surveiller_df.describe()

        PLTE_IDENT  PPLAN_IDENT
count   632.000000   632.000000
mean    851.911392    57.799051
std     487.574655    25.127740
min       3.000000     1.000000
25%     423.000000    29.000000
50%     872.500000    68.000000
75%    1281.750000    76.000000
max    1769.000000   130.000000

In [16]:
# Est-ce que toutes les parties à surveiller sont aussi des parties utiles ?
plant_plant_part = {}
for plante_id in partie_a_surveiller_df['PLTE_IDENT'].unique():
    plant_part_set = set(partie_utile_df[partie_utile_df['PLTE_IDENT'] == plante_id]['PPLAN_IDENT'])
    to_watch_plant_part_set = set(partie_a_surveiller_df[partie_a_surveiller_df['PLTE_IDENT'] == plante_id]['PPLAN_IDENT'])
    plant_plant_part[plante_id] = to_watch_plant_part_set.issubset(plant_part_set)

In [17]:
oui = sum(plant_plant_part.values())
oui
# 325 plantes ont toutes leurs parties de plantes à surveiller également dans parties utiles

325

In [18]:
len(partie_a_surveiller_df['PLTE_IDENT'].unique())
# 492 plantes avec des parties à surveiller sur 1774

492

In [19]:
# Cannabis sativa (l'exemple sur lequel on s'est rendu compte de la )
partie_a_surveiller_df[partie_a_surveiller_df['PLTE_IDENT'] == 364]

     PLTE_IDENT  PPLAN_IDENT
139         364           88
140         364           95

In [20]:
partie_utile_df[partie_utile_df['PLTE_IDENT'] == 364]

     PLTE_IDENT  PPLAN_IDENT
711         364           29
712         364           47
713         364           50
714         364           95